@media screen and (min-width: 480px) {
  .container {
    max-width: 468px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 767px;
  }

  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  .list-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .post-cats {
    width: calc((100% - 48px) / 2);
  }

  /*.team-list {
    padding-left: 108px;
    padding-right: 108px;
  }*/

  .team-list {
    display: flex;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1128px;
  }
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  .btn-hero {
    display: block;
    font-family: 'Roboto', sans-serif;
    min-width: 169px;
    height: 56px;
    background: #4d5ae5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    align-items: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .list-icons-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .section-team {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
